/*--| Font setup |--*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/*--| variables setup |--*/
:root {
  --primary: #F2622E;
  --primary-dark: #012E40;
  --black: #0e0d0d;
  --gray-1: #788190;
  --gray-2: #e3e5ee;
  --green: #F22E52;
  --light: #F2DCC9;
  --white: #f5f5f5;
  --btn-transition: .15s;
  --btn-scale: 1.025;
  --link-transition: .3s ease;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--white);
  background-size: 100vw;
  overflow: overlay;
}

/*--| Setup components |--*/

/* Scrool bar */
::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
::-webkit-scrollbar-button {
}
::-webkit-scrollbar-thumb {
  background: #060d5f54;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: #012E40;
}
/* HTML */
html {
  border-radius: 10px;
}

/* Sections */
section{
  padding: 0px 50px;
}
/* buttons */

.btn {
  border-radius: 8px;
}

.btn-primary, .btn-outline-secondary, .btn-outline-dark{
  padding: 12px 28px;
}

.btn-primary {
  background-color: var(--primary)!important;
  border: none;
}
.btn-primary:hover {
  background-color: var(--primary-dark)!important;
  transition: var(--btn-transition);
  transform: scale(var(--btn-scale));

}

.btn-outline-secondary{ 
  background-color: var(--white)!important;
  color: var(--black);
  border: none;

}

.btn-outline-dark{ 
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.btn-outline-secondary:hover{ 
  background-color: var(--primary-dark)!important;
  transition: var(--btn-transition);
  transform: scale(var(--btn-scale));

}

.btn-outline-secondary:focus{ 
  background-color: var(--purple-dark);
}

/*--| Navbar |--*/
/* .navbar {
  padding: 15px 200px;
  background-color: transparent;
  z-index: 999;
  position: absolute;
  width: 100%;
  transition: 0.5 ease;
} */

.navbar-collapse .nav-link {
  position: relative;
  margin-left: 41px;
  font-size: 16px;
  color: var(--white);
  font-weight: 500;
  transition: var(--link-transition);
}

.navbar-collapse .nav-link:before {
  content: '';
  position: absolute;
  background-color: var(--light);
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: var(--link-transition);
}

.navbar-collapse .nav-link:hover:before {
  width: 100%;
}

.navbar-collapse .nav-link:hover {
  transition: var(--btn-transition) ;
  color: var(--gray-2);
}

.navbar-nav .nav-link.active {
  font-weight: 600;
  color: var(--light);
}

.sliderItems h1{
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.sliderItems p{
  margin-top: 65px;
}

.inicio .container-fluid a{
  background-color: var(--white);
}

video{
  min-width: 100%; 
  min-height: 100%
}
.sliderItems{
  width: 75%;
}
.mask-1{
  background: rgba(3, 222, 251, 0.226);
  background: rgba(0, 0, 0, 0.418);

}

.mask-2{
  background: rgba(7, 90, 138, 0.3);
  background: rgba(0, 0, 0, 0.3);

}

.mask-3{
  background: rgba(0, 0, 0, 0.3);
}

.mask-4{
  background: rgba(251, 172, 3, 0.199);
  background: rgba(0, 0, 0, 0.3);

}

/* Control icons */
.carousel-control-next, .carousel-control-prev {
  width: 7%;
}


.carousel-control-next-icon::after, .carousel-control-prev-icon::after {
  font-size: 30px;
}

 /* Carousel styling */
 #introCarousel,
 .carousel-inner,
 .carousel-item,
 .carousel-item.active {
   height: 100vh;
 }

 .carousel-item:nth-child(1) {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 .carousel-item:nth-child(2) {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 .carousel-item:nth-child(3) {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }

 .carousel-item:nth-child(4) {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
 }




/*--| Responsive section |--*/
@media (max-width: 1040px){
  /*--| Navbar |--*/
  /* .navbar {
    padding: 12px 20px;
  } */

  section{
    padding: 0px 20px;
  }

 }

 @media (max-width: 991px){
  /*--| Navbar |--*/
   /* .navbar-nav{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
   } */
   /* .navbar-collapse .nav-link {
      margin-left: 0px!important;
      margin-right: 0px!important;
      text-align: center;
      font-size: 17px;
 
   } */

   .inicio .media-icons{
      right: 15px;

  }
 
 }

@media (max-width: 576px){

  /*--| Navbar |--*/
  /* .navbar  {
    padding: 20px 0px;
  }

  .nav-link {
    margin-left: 0px;
  }

  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: var();
  } */
  
}
